// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-containts {
	width: 100%;
	margin: 50px auto;
	color: #fff;

	p {
		margin-left: 30px;
		line-height: 50px;
	}
}
