// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-box {

	.show-profile-box {

		margin: 50px;
		display: flex;
		align-items: center;

		span {
			font-size: 20px;
			margin-left: 60px;
		}

		.introduction-box {
			width: 150px;
			height: 100px;
			margin-left: 60px;
			overflow: scroll;
		}
	}
}

.user-edit-form-box {
	.form-box {
		margin: 30px;

		.profile-image-deactive-btn {
			display: none;
		}
	}
}
